@model ImMusik2.Clases

@{
    ViewBag.Title = "Editar clase";
}

@section Styles {
    <link rel="stylesheet" href="~/Content/Profesor/profesorCreate.css">
}

<h2>Editar registro</h2>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="centered">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-vertical">
                <div class="form-group">
                    <span>ID</span>
                    <div class="input-container">
                        @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <span>Sucursal</span>
                    <div class="input-container">
                        @Html.DropDownList("IdSucursal", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdSucursal, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <span>Nombre</span>
                    <div class="input-container">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <span>MaxAlumnos</span>
                    <div class="input-container">
                        @Html.EditorFor(model => model.NumAlumnos, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NumAlumnos, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <span>Docente</span>
                    <div class="input-container">
                        @Html.DropDownList("IdProfesor", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdProfesor, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <span>Hora</span>
                    <div class="input-container">
                        @Html.EditorFor(model => model.Hora, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Hora, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <span>Dias</span>
                    <div class="input-container">
                        @Html.EditorFor(model => model.Dias, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Dias, "", new { @class = "text-danger" })
                    </div>
                </div>

                <input type="submit" value="Save" class="btn-submit" />
            </div>
        </div>
    </div>
}

<div id="foot">
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
